
{% extends "shop/base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}



{% block main %}

{% errors_for form %}
{% load widget_tweaks %}
<form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %} style="float: right;">
    <fieldset>
    <legend>{{ title }}</legend>
    {% csrf_token %}
{{form.errors}}
	
        {% for hidden in form.hidden_fields %}
	{{hidden}}
	{% endfor %}
	{% for vis in form.visible_fields %}

                    <label class="control-label" for="id_{{ vis.name }}">{{ vis.label }}</label>
 
                    <div class="controls">
                        {% render_field vis %}
                        
                    </div>

	{% endfor %}
<input type="submit" class="btn send_btn" id="sbmt_btn" value="Submit"/>
    </fieldset>
</form>
{% endblock %}
{% block right_panel %}
{% endblock %}