{% extends "shop/base.html" %}
{% load i18n mezzanine_tags staticfiles %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/checkout_form.css" %}">
{% endblock %}

{% block main_span_size %}9{% endblock %}
{% block panel_span_size %}3{% endblock %}

{% block main %}
<div class="inline" id="text">
{% if request.user.is_authenticated %}
    <p>{% trans "You're already logged in. If you'd like to log in as a different user, you'll need to log out first." %}</p>
{% else %}
    {{ block.super }}
    {% url "signup" as signup_url %}
    <p>{% blocktrans with request.GET.next as next %}If you don't have an account you can <a href="{{ signup_url }}?next={{ next }}">sign up</a> for one now.{% endblocktrans %}</p>
    {% url "mezzanine_password_reset" as password_reset_url %}
    {% url "profile_update" as profile_update_url %}
    {% blocktrans %}<p>You can also <a href="{{ password_reset_url }}?next={{ profile_update_url }}">reset your password</a> if you've forgotten it.</p>{% endblocktrans %}</p>
{% endif %}
</div>


<div class="inline">
{% errors_for form %}
<form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}" >

        <legend style="margin-left:100px">{{ title }}</legend>
        {% csrf_token %}
        
        {% for hidden in form.hidden_fields %}
	       {{hidden}}
	    {% endfor %}
	    {% for vis in form.visible_fields %}
                <div class="form-group">
                    <label class="control-label" for="id_{{ vis.name }}"><h5>{{ vis.label }}</h5></label>
                    {{ vis }}
                </div>
	   {% endfor %}
        <input type="submit" class="btn btn-large btn-primary" id="sbmt_btn" style="margin-left:100px" value="Submit"/>

</form>
</div>
{% endblock %}
{% block right_panel %}
{% endblock %}