.form-control{
	border-radius: 10px;
	border: 1px solid #3399CC;
	font-size: 15px;
	
	width: 65%;
	display: inline-block;
	box-shadow: 7px 7px 9px #888888;
	-webkit-box-shadow: 7px 7px 9px #888888;
	-moz-box-shadow: 7px 7px 9px #888888;
}

input[type=number]{
	border-radius: 10px;
	border: 1px solid #3399CC;
	font-size: 15px;
	
	width:30%;
	box-shadow: 7px 7px 9px #888888;
	-webkit-box-shadow: 7px 7px 9px #888888;
	-moz-box-shadow: 7px 7px 9px #888888;
}


.quantity-with-label{
	margin-left: 20px;
}

.product_title{
	position: relative; 
	top: -15px; 
	font-size: 35px;
	line-height: 110%;
}

.list-unstyled{
	list-style-type: none;

}

.center{
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.new-price{
	
	font-size: 24px;
}
.product-sorting {
	position: relative;
	bottom: 28px;
}
.panel{
	position: relative;
	bottom: 28px;
}
#greeting{
	position: relative;
	bottom: 15px;
}
#main_slider{
	padding-bottom: 45px;
}
select{
	font-size: 15px;
	max-width: 70%;
}

#messages{
	width:16em; 
	margin-top: 1em; 
	text-align: center; 
	left:65%; background: rgba(239, 239, 239, 0.93)
}

label{
	
	font-size: 16px;
}

.category-products .panel {
	background-color: #fafafa;
	border: 0px;
	border-radius: 0px;
	box-shadow:none;
	margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
  background-color: #fafafa;
  border: 0 none;
  color: #fafafa;
  padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0 none;
}

.category-products .badge {
  
  border-radius: 10px;
  color: #696763;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}



.left-sidebar h2:before{
	content: " ";
	position: absolute;
	background: #fafafa;
	bottom: -6px;
	width: 130px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -65px;
}

.left-sidebar h2:after, h2.title:after{
	content: " ";
	position: absolute;
	bottom:8px;
	left: 0;
	width: 100%;
	height: 0;
	z-index: -2;
}

.left-sidebar h2, .brands_products h2 {
    color: #FE980F;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0px auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}


.toggle{
	margin-top: 5px;
	display:inline-block;
	height:16px;
	width:16px;
	background:url("../img/plus.png");
}

.toggle.expanded{
	margin-top: 5px;
	background:url("../img/minus.png");
}

div#option.panel-body > ul{
	list-style-type: none;
}

div#option.panel-body > ul > li > a {
	
	font-size: 14px;
	padding-left: 10px;
	text-decoration: none;
}