/* your styles go here */
.icon.shopping-cart{
	display: inline-block;
}

div#all{
	min-height: 300px;
}

i.fa.fa-star{
	color: gold;
	margin-right: -5px
}

table#testimonials td{
	padding-right: 5px;
}

.price_aud{
	font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

#content #productMain .price {
    font-size: 40px;
    text-align: center;
    margin: 0
}

.delusd{
	font-size: 18px;
}