{% extends "base.html" %}
{% load staticfiles %}
{% block social %}
    <p class="social">                
        
        <a rel="tooltip" target="_blank" href="mailto:info@cart4brand.com" title="email us!"><i class="fa fa-envelope"></i></a>
    </p>
{% endblock %}

{% block logos %}
    <a class="navbar-brand home" href="/">
        <img src="{% static 'img/logo.png' %}" height="80" alt="Cart4Brand logo" class="hidden-xs hidden-sm">
        <img src="{% static "img/c4b.png" %}" height="52" alt="Minimal logo" class="visible-xs visible-sm"><span class="sr-only">Cart4Brand - go to homepage</span>
    </a>    
{% endblock %}

{% block copyright %}
    &copy; 2016. Cart4Brand, all rights reserved.
{% endblock %}
