{% extends "shop/base.html" %}
{% load staticfiles mezzanine_tags shop_tags i18n future country_list %}

{% block meta_title %}{% trans "Your Cart" %}{% endblock %}
{% block title %}{% trans "Your Cart" %}{% endblock %}
{% block body_id %}cart{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{% trans "Your Cart" %}</li>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/country_and_carriers_form.css"%}">
<link rel="stylesheet" type="text/css" href="{% static "css/modal-message.css"%}">
<link rel="stylesheet" type="text/css" href="{% static "css/cart_form_fields.css" %}">
<link href="{% static "css/cart_table.css" %}" rel="stylesheet">
<link href="{% static "css/action_buttons.css" %}" rel="stylesheet">
{% endblock %}
{% block slider_js %}

<script type="text/javascript" src="{% static "js/custom-for-cart.js" %}"></script>

{% endblock %}

{% block extra_js %}
    {{ block.super }}
    $(document).bind("ajaxSend", function(){
        $("#loading").show();
    }).bind("ajaxComplete", function(){
        $("#loading").hide();
    });
    $('#id_carrier').prop('disabled',true);
    $('#id_shipping_type').val("");

    $("select[name='country'] option:eq(0)").attr('disabled','disabled');
    //$("select[name='shipping_type'] option:eq(0)").attr('disabled','disabled');
    $("select[name='carrier'] option:eq(0)").attr('disabled','disabled');
    $('#id_carrier').prop('disabled','disabled');
  
    $('#checkout').click(function(){
        var country = $("#id_country");
        var ship_type = $("#id_shipping_type");
        var carrier = $('#id_carrier');
        if(!country.prop('selectedIndex')) {
            if(!$("#required").length){
                country.after("<span id='required'>* required</span>");
            } 
            return false;
//        } else if(!ship_type.prop('selectedIndex')){
  //           if(!$("#required").length){
    //            ship_type.after("<span id='required'>* required</span>");
      //       }
        //     return false;
        } else if(ship_type.prop('selectedIndex') == 1 && !carrier.prop('selectedIndex')){
             if(!$("#required").length){
                carrier.after("<span id='required'>* required</span>");
             }
             return false;
        }
        return true;
    });
	$("input[type|='checkbox']").hide();
        $('#main_form').submit(function(){
            $.ajax({
                type: 'POST',
                url: '/update_cart', 
                data: $(this).serialize(),
                success: function(data){
                    var discount = data.discount_total;
                    
                    var clicked_id = $('#subtotal').data('notenoughstockid'),
                        quantity = $('#'+clicked_id).data('quantity'),
                        input_field = $('#'+clicked_id).parent().find('input');
                    if (data.error){
                        $('.alert').html("<p>"+data.error+"</p>").addClass('in').fadeTo('slow',1).delay(4000).fadeTo('slow',0);
                        $(input_field).val(quantity);
                    }else{
                        var subtotal = parseFloat(data['subtotal']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'),
                            grand = data.grand;
                        var shipping_fee = $('#subtotal').val();
                        if (shipping_fee == '0'){
                            shipping_fee = 'Not set yet';
                            
                        }else{
                            shipping_fee = $('#subtotal').val();
                            grand = parseFloat(grand) + parseFloat(shipping_fee);
                            shipping_fee = '$' + $('#subtotal').val();
                        }
                        var shipping_type = $('#subtotal').attr('name');
                        var sub = data['sub'];
                        var total_qty = data['total_qty'],
                            html;
                        $('#subtotal').attr('class',total_qty);
                        if(discount === '0.00'){
                            html = "<div class='order_totals'><div><label>Sub total:</label>$"+subtotal+"</div><div><label>" + shipping_type + "</label>"+shipping_fee+"</div><div class='total'><label>Total:&nbsp;</label>$"+grand+"</div></div>";
                        } else {
                            html = "<div class='order_totals'><div><label>Sub total:</label>$"+subtotal+"</div><div><label>Discount:</label>$"+discount+"</div><div><label>" + shipping_type + "</label>"+shipping_fee+"</div><div class='total'><label>Total:&nbsp;</label>$"+grand+"</div></div>";
                        }

                        $('#total_cell').html(html);
                        $.each(sub,function(index,element){
                            var i = parseInt(index)+1;
                            $('table tr:eq('+i+') td:eq(4)').html('$'+parseFloat(element).toFixed(2));
                            
                        });
                        var count = $("#id_items-TOTAL_FORMS").val();
                        if (count === '0'){
                            $('div.span9.middle').html('<h4>{% trans "Your Cart is empty." %}</h4>');
                            $('a.dropdown-toggle > span#cart_menu').html(' 0 items in cart, total: $0.00');

                        }
                        if (total_qty != 1){
                            $('#cart_menu').html('&nbsp;'+total_qty.toString()+' items in cart, total: $'+grand);
                        }else{
                            $('#cart_menu').html(' 1 item in cart, total: $'+grand);
                        }
                        
                    }
                            
                },
                error: function(xhRequest, ErrorText, thrownError){
                    console.log('xhRequest: ' + JSON.stringify(xhRequest) + "\n");
                    console.log('ErrorText: ' + ErrorText + "\n");
                    console.log('thrownError: ' + thrownError + "\n");
                }
            });
            return false;       
        });
        $("a[id|='update']").click(function(){
            $('#main_form').submit();
            $('#subtotal').attr('data-notenoughstockid', $(this).attr('id'));
            return false;
        });
        
        $("a[id|='rem']").on('click', function(){
            $(this).parent().parent().fadeOut('slow');
            var value = $(this).attr('class');
            var id = $("input[value|="+ value +"]").attr('id');
            var chkbx_id = id.slice(0,id.length-2) + 'DELETE';
            $('#'+chkbx_id).prop("checked",true);
            $('#main_form').submit();
            $(this).parents('.dynamic-form').remove();
            var forms = $('.dynamic-form');
            $('#id_items-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).children().not(':last').children().each(function() {
                    updateElementIndex(this, 'items', i);
                });
            }
            
            return false;
        });
        $('#discount_button').click(function(){
            $.ajax({
                type: 'POST',
                url: "{% url 'disc' %}",
                data: {'discount_code':$('#id_discount_code').val()}, 
                success: function(data){

                            if (data.discount_code){
                                $('.alert p').html(data['discount_code']).parent().fadeTo('slow',1).delay(4000).fadeTo('slow',0);

                                return false;
                            }
                            var discount = data.discount_total,
                                cart_total = data.cart_total,
                                ship_total = data.shipping_total,
                                ship_type = data.shipping_type,
                                total = (parseFloat(cart_total)-parseFloat(discount)+parseFloat(ship_total)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'),
                                html; 
                                

                            if (discount === "0.00"){

                                html = "<div><div><label>Sub total:</label>$"+cart_total+"</div><div><div><label>"+ship_type+"</label>$"+ship_total+"</div><div class='total'><label>Total:</label>$"+total+"</div></div>";
                            } else {
                                html = "<div><div><label>Sub total:</label>$"+cart_total+"</div><div><label>Discount:</label>$"+discount+"</div><div><label>"+ship_type+"</label>$"+ship_total+"</div><div class='total'><label>Total:</label>$"+total+"</div></div>";
                            }
                            $('#total_cell').html(html);

                            
                         },
                error: function(data){
                    console.log('error'+JSON.stringify(data));
                }
            });
            return false;
        })
{% endblock %}

{% block main_span_size %}9{% endblock %}
{% block panel_span_size %}3{% endblock %}

{% block main %}
{% if request.cart.has_items %}
<form id='main_form' method="post" class="cart-form">
{% csrf_token %}
{% if cart_formset.errors %}
{% for error in cart_formset.errors %}
{% if error.values.0 %}{{ error.values.0 }}{% endif %}
{% endfor %}
{% endif %}
{{ cart_formset.management_form }}
<table class="table outer span8">
    <thead>
    <tr>
        <th colspan="2">{% trans "Item" %}</th>
        <th>{% trans "Unit Price" %}</th>
        <th>{% trans "Quantity" %}</th>
        <th>{% trans "Price" %}</th>
        <th>{% trans "Remove?" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for form in cart_formset.forms %}
    {% with form.instance as item %}
    <tr class="dynamic-form">
        <td width="30">
            {{ form.id }}
            {% if item.image %}
            <a href="{{ item.get_absolute_url }}">
                <img alt="{{ item.description }}" src="{{ MEDIA_URL }}{% thumbnail item.image 30 30 %}">
            </a>
            {% endif %}
        </td>
        <td class="left">
            <a href="{{ item.get_absolute_url }}">{{ item.description }}</a>
        </td>
        <td style="text-align: center;">{{ item.unit_price|currency }}</td>
        <td class="quantity">{{ form.quantity }}<a id='update-{{ item.id }}' href='' data-quantity='{{ item.quantity }}' class="btn-sm btn-custom" style="margin-left:10px">Update</a></td>
        <td id="price-{{ item.id }}">{{ item.total_price|currency }}</td>
        <td class="center">{{ form.DELETE }}<a id='rem-{{ item.id }}' class='{{ item.id }}' href=''><img alt="Remove" onclick="event.preventDefault();" src="{% static "img/delete.png" %}" width="20"></a></td>
    </tr>
    {% endwith %}
    {% endfor %}
    <tr>
        <td colspan="3" style="text-align:left; padding-left:40px;">
            {% make_form as form %}
            {% for field in form.hidden_fields %} {{ field }} {% endfor %}
            {% for field in form.visible_fields %}
                {% if forloop.last %}
                    {{ field.label_tag }}
                    {{ field }}
                    <img id="loading" style="display:none" src="{% static "img/preload_img.gif" %}">
                {% else %}
                    {{ field.label_tag }}
                    {{ field }}
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% if discount_form %}
                <form method="post" class="discount-form col-md-12 text-right">
                    {% fields_for discount_form %}
                    <input type="submit" id="discount_button" class="btn btn-custom" value="{% trans "Apply" %}">
                </form>
            {% endif %}
        </td>
        <td colspan="2" id="total_cell" style="text-align:center" >{% order_totals %}</td>
        
    </tr>
    <tr>
        <td colspan="6">
            <div class="">
                <div id="form-buttons">
                    <a id="return" href="/" class="btn-custom pull-left ">
                        <img alt="Back" src="{% static "img/back.png" %}" width="20">&nbsp;{% trans "Keep Shopping" %}
                    </a>
                    <a id="checkout" href="{% url "shop_checkout" %}" class="btn btn-lg btn-custom pull-right">
                        {% if request.session.order.step %}{% trans "Return to Checkout" %}{% else %}{% trans "Go to Checkout" %}{% endif %}
                    </a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="alert alert-info modal fade" id="dialog-message" data-alert="alert">
    
</div>
<input type="hidden" id="subtotal" value="0" name="Shipping fee" data-notenoughstockid="" class="{{ request.cart.total_quantity }}" />
<input type="hidden" id="chosen_country" />

</form>

{% else %}
<h4>{% trans "Your Cart is empty." %}</h4>
{{ request | remove_shipping_info:'shipping_type' }}
{{ request | remove_shipping_info:'shipping_total' }}
{% endif %}
{% endblock %}

{% block right_panel %}
{% if settings.SHOP_USE_UPSELL_PRODUCTS %}
{% with request.cart.upsell_products as upsell_products %}
{% if upsell_products %}
<h2>{% trans "You may also like:" %}</h2>
<div class="row">
    {% for product in upsell_products %}
    <div class="col-xs-6 col-sm-4 col-md-3 product-thumb">
        <a class="thumbnail" href="{{ product.get_absolute_url }}">
            {% if product.image %}
            <img src="{{ MEDIA_URL }}{% thumbnail product.image 90 90 %}">
            {% endif %}
            <div class="caption">
            <h6>{{ product }}</h6>
            <div class="price-info">
            {% if product.has_price %}
                {% if product.on_sale %}
                <span class="old-price">{{ product.unit_price|currency }}</span>
                {% trans "On sale:" %}
                {% endif %}
                <span class="price">{{ product.price|currency }}</span>
            {% else %}
                <span class="coming-soon">{% trans "Coming soon" %}</span>
            {% endif %}
            </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endif %}
<div class="alert alert-info modal fade" id="info-box" data-alert="alert">
    <p></p>
</div>

{% endblock %}
