{% extends "shop/base.html" %}
{% load mezzanine_tags shop_tags i18n future country_list %}

{% block meta_title %}{% trans "Your Cart" %}{% endblock %}
{% block title %}{% trans "Your Cart" %}{% endblock %}
{% block body_id %}cart{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{% trans "Your Cart" %}</li>
{% endblock %}

{% block slider_js %}
<script type='text/javascript'>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
function getCountry(sel){
	$('#chosen_country').val(sel.value);
    $('#id_shipping_type').val("");
    $('#id_carrier').find('option').remove().end().append('<option value="0">Please select a country first</option').val("0");

}
function setCarriers(s){
    var country_name = $('#chosen_country').val();
    $.post('/ajax_country',{'country' : country_name}, function(data){ 
        console.log(data);
        var carrier = document.getElementById('id_carrier');
        var priority = data['carriers_priority'];
        var regular = data['carriers_regular'];
        if(s.value == 'priority'){
            carrier.options.length = 0;
            for(pri in priority){
                carrier.options.add(new Option(priority[pri], pri));
            }   
        }else{
            carrier.options.length = 0;
            for(reg in regular){
                carrier.options.add(new Option(regular[reg], reg));
            }   
        }
    });
    
}
</script>

{% endblock %}

{% block extra_js %}
    $("select[name='country'] option:eq(0)").attr('disabled','disabled');
    $("select[name='shipping_type'] option:eq(0)").attr('disabled','disabled');
    $("select[name='carrier'] option:eq(0)").attr('disabled','disabled');
	$("input[type|='checkbox']").hide();
        $('#main_form').submit(function(){
            $.ajax({
                type: 'POST',
                url: '/update_cart', 
                data: $(this).serialize(),
                success: function(data){
                    var grand = data['grand'];
                    var sub = data['sub'];
                    var total_qty = data['total_qty'];
                    $('#total_cell').html('<b>Total:&nbsp;$</b>'+grand);
                    $.each(sub,function(index,element){
                        var i = parseInt(index)+1;
                        $('table tr:eq('+i+') td:eq(4)').html('$'+element);
                        
                    });
                    if (total_qty != 1){
                        $('#cart_menu').html('&nbsp;'+total_qty.toString()+' items in cart: $'+grand);
                    }else{
                        $('#cart_menu').html(' 1 item in cart: $'+grand);
                    }
                    console.log(sub);
                            
                },
                error: function(data){console.log('error'+JSON.stringify(data));}
            });
            return false;       
        });
        $("a[id|='update']").click(function(){
            $('#main_form').submit();
            return false;
        });
        
        $("a[id|='rem']").on('click', function(){
            $(this).parent().parent().fadeOut('slow');
            var value = $(this).attr('class');
            var id = $("input[value|="+ value +"]").attr('id');
            var chkbx_id = id.slice(0,id.length-2) + 'DELETE';
            $('#'+chkbx_id).prop("checked",true);
            $('#main_form').submit();
            var forms = $('.dynamic-form');
            $('#id_items-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                    $(forms.get(i)).children().not(':last').children().each(function() {
                        updateElementIndex(this, 'items', i);
                    });
            }
            return false;
        })
{% endblock %}

{% block main_span_size %}9{% endblock %}
{% block panel_span_size %}3{% endblock %}

{% block main %}
{% if request.cart.has_items %}
<form id='main_form' method="post" class="cart-form">
{% csrf_token %}
{% if cart_formset.errors %}
{% for error in cart_formset.errors %}
{% if error.values.0 %}{{ error.values.0 }}{% endif %}
{% endfor %}
{% endif %}
{{ cart_formset.management_form }}
<table class="table table-bordered span8">
    <thead>
    <tr>
        <th colspan="2" class="left">{% trans "Item" %}</th>
        <th>{% trans "Unit Price" %}</th>
        <th class="center">{% trans "Quantity" %}</th>
        <th>{% trans "Price" %}</th>
        <th class="center">{% trans "Remove?" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for form in cart_formset.forms %}
    {% with form.instance as item %}
    <tr class="dynamic-form">
        <td width="30">
            {{ form.id }}
            {% if item.image %}
            <a href="{{ item.get_absolute_url }}">
                <img alt="{{ item.description }}" src="{{ MEDIA_URL }}{% thumbnail item.image 30 30 %}">
            </a>
            {% endif %}
        </td>
        <td class="left">
            <a href="{{ item.get_absolute_url }}">{{ item.description }}</a>
        </td>
        <td>{{ item.unit_price|currency }}</td>
        <td class="quantity">{{ form.quantity }}<a id='update-{{ item.id }}' href='' >Update</a></td>
        <td id="price-{{ item.id }}">{{ item.total_price|currency }}</td>
        <td class="center">{{ form.DELETE }}<a id='rem-{{ item.id }}' class='{{ item.id }}' href=''>Remove</a></td>
    </tr>
    {% endwith %}
    {% endfor %}
    <tr>
        <td colspan="5" id='total_cell'>{% order_totals %}</td>
        <td>&nbsp;</td>
    </tr>
    
    </tbody>
</table>
{% make_form as form %}
{{ form.as_table }}
<input type="hidden" id="chosen_country" />
<div class="form-actions">
    <a href="{% url "shop_checkout" %}" class="btn btn-primary btn-lg pull-right">
        {% if request.session.order.step %}{% trans "Return to Checkout" %}{% else %}{% trans "Go to Checkout" %}{% endif %}
    </a>
    <input type="submit" class="btn btn-default btn-lg pull-left" value="{% trans "Update Cart" %}">
</div>
</form>

{% if discount_form %}
<form method="post" class="discount-form col-md-12 text-right">
    {% fields_for discount_form %}
    <input type="submit" class="btn btn-default" value="{% trans "Apply" %}">
</form>
{% endif %}
{{ countryForm.as_p }}
{% else %}
<p>{% trans "Your Cart is empty." %}</p>
{% endif %}
{% endblock %}

{% block right_panel %}
{% if settings.SHOP_USE_UPSELL_PRODUCTS %}
{% with request.cart.upsell_products as upsell_products %}
{% if upsell_products %}
<h2>{% trans "You may also like:" %}</h2>
<div class="row">
    {% for product in upsell_products %}
    <div class="col-xs-6 col-sm-4 col-md-3 product-thumb">
        <a class="thumbnail" href="{{ product.get_absolute_url }}">
            {% if product.image %}
            <img src="{{ MEDIA_URL }}{% thumbnail product.image 90 90 %}">
            {% endif %}
            <div class="caption">
            <h6>{{ product }}</h6>
            <div class="price-info">
            {% if product.has_price %}
                {% if product.on_sale %}
                <span class="old-price">{{ product.unit_price|currency }}</span>
                {% trans "On sale:" %}
                {% endif %}
                <span class="price">{{ product.price|currency }}</span>
            {% else %}
                <span class="coming-soon">{% trans "Coming soon" %}</span>
            {% endif %}
            </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endif %}
{% endblock %}
