{% extends "shop/base.html" %}
{% load staticfiles mezzanine_tags shop_tags i18n future country_list widget_tweaks %}

{% block meta_title %}{% trans "Your Cart" %}{% endblock %}
{% block title %}{% trans "Your Cart" %}{% endblock %}
{% block body_id %}cart{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{% trans "Your Cart" %}</li>
{% endblock %}
{% block extra_css %}

{% endblock %}
{% block slider_js %}
    <script type="text/javascript" src="{% static "js/custom-for-cart.js" %}"></script>
{% endblock %}

{% block extra_js %}
    {{ block.super }}

    $(document).bind("ajaxSend", function(){
        $("#loading").show();
    }).bind("ajaxComplete", function(){
        $("#loading").hide();
    });
    $('#id_carrier').prop('disabled',true);
    $('#id_shipping_type').val("");

    $("select[name='country'] option:eq(0)").attr('disabled','disabled');
    //$("select[name='shipping_type'] option:eq(0)").attr('disabled','disabled');
    $("select[name='carrier'] option:eq(0)").attr('disabled','disabled');
    $('#id_carrier').prop('disabled','disabled');
    
        $('#checkout').click(function(){
            var country = $("#id_country");
            var ship_type = $("#id_shipping_type");
            var carrier = $('#id_carrier');
            if(!country.prop('selectedIndex')) {
                if(!$("#required").length){
                    $("label[for='id_country']").after("<span id='required' style='color:red; font-size: 16px'>&nbsp;* required</span>");
                } 
                return false;
            } else if(ship_type.prop('selectedIndex') == 1 && !carrier.prop('selectedIndex')){
                 if(!$("#required").length){
                    $("label[for='id_carrier']").after("<span id='required' style='color:red; font-size: 16px'>&nbsp;* required</span>");
                 }
                 return false;
            }
            return true;
        });
    
	$("input[type|='checkbox']").hide();
        $('#main_form').submit(function(){
            $.ajax({
                type: 'POST',
                url: '/update_cart', 
                data: $(this).serialize(),
                success: function(data){
                    var discount = data.discount_total;
                    
                    var clicked_id = $('#subtotal').data('notenoughstockid'),
                        quantity = $('#'+clicked_id).data('quantity'),
                        input_field = $('#'+clicked_id).parent().find('input');
                    if (data.error){
                        $('.alert p').html(data.error).parent().fadeTo('slow',1).delay(4000).fadeTo('slow',0);

                        $(input_field).val(quantity);
                    }else{
                        var subtotal = parseFloat(data['subtotal']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'),
                            grand = data.grand;
                        var shipping_fee = $('#subtotal').val();
                        if (shipping_fee == '0'){
                            shipping_fee = 'Not set yet';
                            
                        }else{
                            shipping_fee = $('#subtotal').val();
                            grand = parseFloat(grand) + parseFloat(shipping_fee);
                            shipping_fee = '$' + $('#subtotal').val();
                        }
                        var shipping_type = $('#subtotal').attr('name');
                        var sub = data['sub'];
                        var total_qty = data['total_qty'],
                            html,
                            order_summary_html;
                        $('#subtotal').attr('class',total_qty);
                        if(discount === '0.00'){
                            html = "<div class='order_totals'><div><label>Sub total:&nbsp;</label>$"+subtotal+"</div><div><label>" + shipping_type + "</label>"+shipping_fee+"</div><div class='total'><label>Total:&nbsp;</label>$"+grand+"</div></div>";
                        } else {
                            html = "<div class='order_totals'><div><label>Sub total:&nbsp;</label>$"+subtotal+"</div><div><label>Discount:&nbsp;</label>$"+discount+"</div><div><label>" + shipping_type + "</label>"+shipping_fee+"</div><div class='total'><label>Total:&nbsp;</label>$"+grand+"</div></div>";

                            order_summary_html = "<td>Total:</td><th>$"+grand+"</th>";
                        }

                        $('#total_cell').html(html);
                        $('tr.total').html(order_summary_html);
                        
                        $.each(sub,function(index,element){
                            var i = parseInt(index)+1;
                            $('table tr:eq('+i+') td:eq(4)').html('$'+parseFloat(element).toFixed(2));
                            
                        });
                        var count = $("#id_items-TOTAL_FORMS").val();
                        if (count === '0'){
                            $('div.box').html('<h4>{% trans "Your Cart is empty." %}</h4>');
                            $('a.dropdown-toggle > span#cart_menu').html(' 0 items in cart, total: $0.00');

                        }
                        $("span.badge").html(total_qty.toString());
                        
                        if (total_qty != '1'){
                                $('#cart_menu').html('&nbsp;'+total_qty.toString()+' items - $'+grand);
                        }else{
                                $('#cart_menu').html(' 1 item - $'+grand);
                        }
                        
                    }
                            
                },
                error: function(xhRequest, ErrorText, thrownError){
                    console.log('xhRequest: ' + JSON.stringify(xhRequest) + "\n");
                    console.log('ErrorText: ' + ErrorText + "\n");
                    console.log('thrownError: ' + thrownError + "\n");
                }
            });
            return false;       
        });
        $("a[id|='update']").click(function(){
            $('#main_form').submit();
            $('#subtotal').attr('data-notenoughstockid', $(this).attr('id'));
            return false;
        });
        
        $("a[id|='rem']").on('click', function(){
            $(this).parent().parent().fadeOut('slow');
            var value = $(this).attr('class');
            var id = $("input[value|="+ value +"]").attr('id');
            console.log(id);
            var chkbx_id = id.slice(0,id.length-2) + 'DELETE';
            $('#'+chkbx_id).prop("checked",true);
            $('#main_form').submit();
            $(this).parents('.dynamic-form').remove();
            var forms = $('.dynamic-form');
            $('#id_items-TOTAL_FORMS').val(forms.length);
            
            
            return false;
        });
        $('#discount_button').click(function(){
            $.ajax({
                type: 'POST',
                url: "{% url 'disc' %}",
                data: {'discount_code':$('#id_discount_code').val()}, 
                success: function(data){

                            if (data.discount_code){
                                $('.alert p').html(data['discount_code']).parent().fadeTo('slow',1).delay(4000).fadeTo('slow',0);

                                return false;
                            }
                            var discount = data.discount_total,
                                cart_total = data.cart_total,
                                ship_total = data.shipping_total,
                                ship_type = data.shipping_type,
                                total = (parseFloat(cart_total)-parseFloat(discount)+parseFloat(ship_total)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'),
                                html; 
                                

                            if (discount === "0.00"){

                                html = "<div><div><label>Sub total:</label>$"+cart_total+"</div><div><div><label>"+ship_type+"</label>$"+ship_total+"</div><div class='total'><label>Total:</label>$"+total+"</div></div>";
                            } else {
                                html = "<div><div><label>Sub total:</label>$"+cart_total+"</div><div><label>Discount:</label>$"+discount+"</div><div><label>"+ship_type+"</label>$"+ship_total+"</div><div class='total'><label>Total:</label>$"+total+"</div></div>";
                            }
                            $('#total_cell').html(html);

                            
                         },
                error: function(data){
                    console.log('error'+JSON.stringify(data));
                }
            });
            return false;
        })
{% endblock %}

{% block main_span_size %}md-9 clearfix{% endblock %}
{% block panel_span_size %}md-3{% endblock %}
{% block div_id %}basket{% endblock %}

{% block main %}
{% if request.cart.has_items %}
<div class="box">
    <form id='main_form' method="post">
    {% csrf_token %}
    {% if cart_formset.errors %}
    {% for error in cart_formset.errors %}
    {% if error.values.0 %}{{ error.values.0 }}{% endif %}
    {% endfor %}
    {% endif %}
    {{ cart_formset.management_form }}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>            
                    <th colspan="2">{% trans "Item" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Unit Price" %}</th>
                    <th>{% trans "Price" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for form in cart_formset.forms %}
                    {% with form.instance as item %}
                        <tr class="dynamic-form">
                            <td>
                                {{ form.id }}
                                {% if item.image %}
                                    <a href="{{ item.get_absolute_url }}">
                                        <img alt="{{ item.description }}" src="{{ MEDIA_URL }}{% thumbnail item.image 70 70 %}">
                                    </a>
                                {% endif %}
                            <td id="desc_td"><a href="{{ item.get_absolute_url }}">{{ item.description }}</a>
                            </td>
                            <td>
                                {% render_field form.quantity %}<br>
                                <a id='update-{{ item.id }}' href='' data-quantity='{{ item.quantity }}' class="btn btn-primary btn-xs">Update</a>
                            </td>                            
                            </td>
                            <td>{{ item.unit_price|currency }}</td>
                            <td>{{ item.total_price|currency }}</td>
                            <td>{{ form.DELETE }}<a id='rem-{{ item.id }}' class='{{ item.id }}' href=''><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                        <tr>
                            <td colspan="2">
             
                                    <div class="box">
                                        {% make_form as form %}
                                        {% for field in form.hidden_fields %} {{ field }} {% endfor %}
                                        {% for field in form.visible_fields %}
                                            {% if forloop.last %}
                                                {{ field.label_tag }}
                                                {% render_field field class="form-control" %}
                                                <img id="loading" style="display:none" src="{% static "img/preload_img.gif" %}">
                                            {% else %}
                                                {{ field.label_tag }}
                                                {% render_field field class="form-control" %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                
                            </td>

                            <td id="total_cell" colspan="3" valign="">
                                    {% order_totals %}
                            </td>
                        </tr>
                        
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <div class="pull-left">
            <a href="{% url "home" %}" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
        </div>
        <div class="pull-right">
            <a id="checkout" href="{% url 'shop_checkout' %}" class="btn btn-primary">{% if request.session.order.step %}{% trans "Return to Checkout" %}{% else %}{% trans "Go to Checkout" %}{% endif %} <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>

    <input type="hidden" id="subtotal" value="0" name="Shipping fee:&nbsp;" data-notenoughstockid="" class="{{ request.cart.total_quantity }}" />
    <input type="hidden" id="chosen_country" />

    </form>
</div>
    
    <div class="row">
        <div class="col-md-3">
            <div class="box">
                <h3>You may also like these products</h3>
            </div>
        </div>
    
        {% if settings.SHOP_USE_UPSELL_PRODUCTS %}
        {% with request.cart.upsell_products as upsell_products %}
        {% if upsell_products %}
            {% for product in upsell_products %}
                <div class="col-md-3">
                    <div class="product">
                        <div class="image">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ MEDIA_URL }}{{ product.image }}" alt="" class="img-responsive image1">
                            </a>
                        </div>
                        <div class="text">
                            <h3><a href="{{ product.get_absolute_url }}">{{ product }}</a></h3>
                            <p class="price">
                                {% if product.has_price %}
                                    {% if product.on_sale %}
                                    <span class="old-price">{{ product.unit_price|currency }}</span>
                                    {% trans "On sale:" %}
                                    {% endif %}
                                    <span class="price">{{ product.price|currency }}</span>
                                {% else %}
                                    <span class="coming-soon">{% trans "Coming soon" %}</span>
                                {% endif %}
                            </p>

                        </div>
                    </div>
                    <!-- /.product -->
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% endif %}
    </div>
{% else %}
<h4>{% trans "Your Cart is empty." %}</h4>
{{ request | remove_shipping_info:'shipping_type' }}
{{ request | remove_shipping_info:'shipping_total' }}
{% endif %}
{% endblock %}

{% block right_panel %}
    <div class="box" id="order-summary">
        <div class="box-header">
            <h3>Order summary</h3>
        </div>
        <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
        {% order_totals %}
    </div>


    <div class="box">
        <div class="box-header">
            <h4>Coupon code</h4>
        </div>
        <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
        {% if discount_form %}
            <form method="post" class="discount-form">
                <div class="input-group">
                    {% for field in discount_form %}
                        {% render_field field class='form-control' %}
                    {% endfor %}
                    <span class="input-group-btn">
                        <button id="discount_button" class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>
                    </span>
                </div>
            </form>
        {% endif %}
    </div>
    



<div class="alert alert-info modal fade" id="info-box" data-alert="alert">
    <p></p>
</div>

{% endblock %}
