{% extends "shop/base.html" %}
{% load shop_tags mezzanine_tags i18n future country_list staticfiles %}

{% block meta_title %}{% trans "Checkout" %} - {{ step_title }}{% endblock %}
{% block title %}{% trans "Checkout" %} - {% trans "Step" %} {{ step }} {% trans "of" %} {{ steps|length }}{% endblock %}


{% block extra_head %}
<script>
var _gaq = [['_trackPageview', '{{ request.path }}{{ step_url }}/']];
$(function() {$('.middle :input:visible:enabled:first').focus();});
</script>
{% endblock %}

{% block breadcrumb_menu %}

{% endblock %}

{% block extra_css %}
    <link href="{% static "css/checkout_form.css" %}" rel="stylesheet">
{% endblock %}

{% block main_span_size %}md-9 clearfix{% endblock %}
{% block panel_span_size %}md-3{% endblock %}
{% block div_id %}checkout{% endblock %}

{% block extra_content %}
    <div class="col-md-12 clearfix">
        <ul class="breadcrumb">
            <li><a href="{% url "home" %}">Home</a>
            </li>
            <li>Checkout - {{ step_title }}</li>
        </ul>

        <div class="box text-center">

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1>Checkout - {{ step_title }}</h1>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block main %}

{% block before-form %}{% endblock %}
<div class="box">
    <form method="post">
        {% csrf_token %}

        {% block fields %}{% endblock %}
        
        {% block nav-buttons %}
            {% if request.cart.has_items %}
                <div class="box-footer">
                    {% if not CHECKOUT_STEP_FIRST %}
                        <div class="pull-left">
                            <button id="bck" name="back" value="back" class="btn btn-default"><i class="fa fa-chevron-left"></i>{% trans "Back" %}</button>
                        </div>
                    {% endif %}
                    {% if not CHECKOUT_STEP_LAST %}
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">{% trans "Next" %}<i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <p>{% trans "Your cart is empty." %}</p>
                <p>{% trans "This may be due to your session timing out after a period of inactivity." %}</p>
                <p>{% trans "We apologize for the inconvenience." %}</p>
                {{ request | remove_shipping_info:'shipping_type' }}
                {{ request | remove_shipping_info:'shipping_total' }}
                <br>
                <p><a class="btn btn-lg btn-primary" href="/">{% trans "Continue Shopping" %}</a></p>
            {% endif %}
        {% endblock %}

    </form>
{% block after-form %}{% endblock %}
</div>
{% endblock %}
{% block right_panel %}
{% if request.cart.has_items %}
<div class="box" id="order-summary">
    <div class="box-header">
        <h3>Order summary</h3>
    </div>
    <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

    {% order_totals %}

    <a class="btn btn-primary" href="{% url "shop_cart" %}">{% trans "Edit Cart" %}</a>
</div>
{% endif %}
{% endblock %}

{% block logos %}
    <a class="navbar-brand home" href="/">
        <img src="{% static "img/logo.png" %}" height="80" alt="Minimal logo" class="hidden-xs hidden-sm">
        <img src="{% static "img/c4b.png" %}" height="52" alt="Minimal logo" class="visible-xs visible-sm"><span class="sr-only">Cart4Brand - go to homepage</span>
    </a>    
{% endblock %}

{% block copyright %}
    &copy; 2016. Cart4Brand, all rights reserved.
{% endblock %}

{% block social %}
    <p class="social">                
        <a rel="tooltip" target="_blank" href="mailto:info@cart4brand.com" title="email us!"><i class="fa fa-envelope"></i></a>
        {% if settings.SOCIAL_LINK_FACEBOOK %}
            <a rel="tooltip" target="_blank" href="{{ settings.SOCIAL_LINK_FACEBOOK }}" title="Facebook"><i class="fa fa-facebook-square"></i></a>
        {% endif %}
    </p>
{% endblock %}
