{% extends "shop/checkout.html" %}

{% load i18n multipayment_forms staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui-1-10-4.css"  %}">
{% endblock %}

{% block slider_js %}
<script type="text/javascript" src="{% static "js/jquery-ui-1-10-4.js" %}"></script>
<script type="text/javascript">
	function load_qr(){
		var btc_amount = $('#id_amount').val();
		var invoice_id = '{{ request.session.session_key }}';
		var host = 'https://blockchain.info/api/receive?method=create&cors=true&format=plain&address=19sVNRFBT3xAY1kkXcDcoB5dAHW42f1iFH&shared=false&callback='
		var encoded = encodeURIComponent("http://make-sense.info/polls/pay?invoice_id=" + invoice_id);
		$.getJSON( host + encoded, function(data) {
			console.log(data);
			var addr = data['input_address']
			var url = "https://blockchain.info/qr?data=bitcoin:" + addr + "%3Famount=" + btc_amount + "%26label=Pay-Demo&size=125";
 			console.log(url);
		  	$('#qrcode').attr('src',url);
			$('#btc_addr').html(addr);
		});
	}
</script>
{% endblock %}

{% block extra_js %}

	$(window).load(load_qr());
	
	$('#pay_btc').dialog({
		width: 400,
        	height: 300,
		autoOpen: false,
	});

	$("input[type='button']").click(function(){
			
		
		$('#pay_btc').dialog("open");
	});
{% endblock %}

<div class="form-actions clearfix">
        <div class="form-actions-wrap">
	    <input type="submit" value="Next" class="btn btn-large btn-primary">
        
        </div>
    </div>

{% block before-form %}
	{% if request.cart.has_items %}
		{% multipayment_forms request form as multipayment_forms %}
		{% if multipayment_forms %}
			<div class="form-actions clearfix">
				<div class="form-actions-wrap">
					{% for name,form in multipayment_forms %}<form method="post" action="{{ form.action }}">
						{{ form.as_p }}
						<input type="submit" value="{% trans name %}" class="btn btn-large">
					</form>{% endfor %}
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}

{% block fields %}
	{% if request.cart.has_items %}
		{% include "shop/includes/payment_fields.html" %}
		{% if not PRIMARY_PAYMENT_PROCESSOR_IN_USE %}<div style="display:none">{% endif %}
		{{ form.other_fields.as_ul }}
		{% if not PRIMARY_PAYMENT_PROCESSOR_IN_USE %}</div>{% endif %}
	{% endif %}
	<input type="button" class="primary" value="Pay with Bitcoin" id="pay_btc_button">
	<div id="pay_btc" title="Pay with Bitcoin" class="element">
		<h4>Use your mobile phone to make a payment</h4>
		<img id="qrcode"/>
		<h4>Or send payment to this address</h4>
		<p id="btc_addr"></p>
	</div>
{% endblock %}


{% block nav-buttons %}
	{% if request.cart.has_items %}
		<div class="form-actions clearfix">
			<div class="form-actions-wrap">
			{% if PRIMARY_PAYMENT_PROCESSOR_IN_USE %}
				<input type="submit" class="btn btn-large btn-primary" value="{% trans "Next" %}">
			{% endif %}
			{% if not CHECKOUT_STEP_FIRST %}
				<input type="submit" class="btn btn-large" name="back" value="{% trans "Back" %}">
			{% endif %}
			</div>
		</div>
	{% else %}
		{{ block.super }}
	{% endif %}
{% endblock %}