{% extends "shop/checkout.html" %}

{% load i18n multipayment_forms staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css"  %}">
<link href="{% static "css/action_buttons.css" %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "css/modal-message.css"%}">
{% endblock %}

{% block slider_js %}
<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script type="text/javascript">
	function load_qr(){
		var usd_amount = $('#id_amount').val();
        var invoice_key = '{{ request.session.session_key }}';
        var cart_pk = '{{ request.cart.pk }}';
        $.getJSON( '/create.php', {invoice_key:invoice_key, cart_pk: cart_pk, usd_amount:usd_amount}, function(data) {
            var addr = data['input_address'];
            var btc_amount = data['btc_amount'];
            var url = data['url'];
            $('#amount_to_pay').html(btc_amount+'BTC ($'+usd_amount+')');
            $('#qrcode').attr('src',url);
            $('#btc_addr').html(addr);
        });
	}
</script>
{% endblock %}

{% block extra_js %}

	$(window).load(load_qr());
	
	$('#pay_btc').dialog({
		width: 450,
        height: 260,
		autoOpen: false,
		buttons:{
			"Close":function(){
				$(this).dialog("close");
			}
		}
	});

	$("#pay_btc_button").click(function(){
			
		$('#pay_btc').dialog("open");
		return false;
	});
	$('#confirm_payment').click(function(){
				
                $.ajax({
                        url: '/check_request',
                        data: {csrfmiddlewaretoken: '{{ csrf_token  }}'},
                        type: 'POST',
                        dataType: 'json',
                        success: function(data){
                                if (data['responsito'] == 'redirect'){
                                	$('a#redir')[0].click();
                                }
                                else{
                                	$('.alert p').html(data['responsito']).parent().addClass('in').fadeTo('slow',1).delay(4000).fadeTo('slow',0);
                    				
                                	
                                }
                        },
                        error: function(data){ 
                                console.log('error '+JSON.stringify(data));
                        }
                });
                return false;
    });
    $('.alert .close').on('click', function(e) {
    	$(this).parent().hide();
	});
{% endblock %}

<div class="form-actions clearfix">
        <div class="form-actions-wrap">
	    <input type="submit" value="Next" class="btn btn-large btn-primary">
        
        </div>
    </div>

{% block before-form %}
	{% if request.cart.has_items %}
		{% multipayment_forms request form as multipayment_forms %}
		{% if multipayment_forms %}
			<div class="form-actions clearfix">
				<div class="form-actions-wrap">
					{% for name,form in multipayment_forms %}<form method="post" action="{{ form.action }}">
						{{ form.as_p }}
						<input type="image" value="{% trans name %}" src="{% static "img/ppl-checkout-blue.png" %}" width="200" height="50">
						<span id='or'><i>OR</i></span>
						<a class="btn-custom" href="#" id="pay_btc_button"><span>Pay with</span>&nbsp;<img src="{% static "img/btc.png" %}" width="20%" height="20%"></a>
					</form>{% endfor %}

				</div>

			</div>
			<div class="alert alert-info modal fade" id="info-box" data-alert="alert">
    			<p></p>
			</div>
		{% endif %}
	{% endif %}
	
{% endblock %}

{% block fields %}
	{% if request.cart.has_items %}
		{% include "shop/includes/payment_fields.html" %}
		{% if not PRIMARY_PAYMENT_PROCESSOR_IN_USE %}<div style="display:none">{% endif %}
		{{ form.other_fields.as_ul }}
		{% if not PRIMARY_PAYMENT_PROCESSOR_IN_USE %}</div>{% endif %}
	{% endif %}
	
	<div id="pay_btc" title="Pay with Bitcoin" class="element">
		<img id="qrcode" style="float:left" />
		<h5>Total:&nbsp;<span id="amount_to_pay"></span></h5>
		
		<p><b>Bitcoin address:</b>
			<br/>
			<span id="btc_addr"></span>
		</p>
		<p style="margin-bottom: 0px;">
    		Please click "Confirm" after payment.
		</p>
		<a class="btn btn-custom" href="{% url 'shop_complete' %}" id="confirm_payment">Confirm Payment</a>
		<a style="display:none" id="redir" href="{% url 'shop_complete'  %}">redir</a>
	</div>
{% endblock %}


{% block nav-buttons %}
	{% if request.cart.has_items %}
		<div class="form-actions clearfix">
			<div class="form-actions-wrap">
			{% if PRIMARY_PAYMENT_PROCESSOR_IN_USE %}
				<input type="submit" class="btn btn-large btn-primary" value="{% trans "Next" %}">
			{% endif %}
			{% if not CHECKOUT_STEP_FIRST %}
				<input type="submit" class="btn btn-large" name="back" value="{% trans "Back" %}">
			{% endif %}
			</div>
		</div>
	{% else %}
		{{ block.super }}
	{% endif %}
{% endblock %}