{% extends "shop/checkout.html" %}

{% load i18n multipayment_forms staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css"  %}">
<link rel="stylesheet" type="text/css" href="{% static "css/modal-message.css"%}">
{% endblock %}

{% block slider_js %}
<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script type="text/javascript">
	function load_qr(){
		var usd_amount = $('#id_amount').val();
        var invoice_key = '{{ request.session.session_key }}';
        var cart_pk = '{{ request.cart.pk }}';
        $.getJSON( '/create.php', {invoice_key:invoice_key, cart_pk: cart_pk, usd_amount:usd_amount}, function(data) {
            var addr = data['input_address'];
            var btc_amount = data['btc_amount'];
            var url = data['url'];
            $('#amount_to_pay').html(btc_amount+'BTC ($'+usd_amount+')');
            $('#qrcode').attr('src',url);
            $('#btc_addr').html(addr);
        });
	}
</script>
{% endblock %}

{% block extra_js %}

	$(window).load(load_qr());
	
	$('#pay_btc').dialog({
		width: 450,
        height: 260,
		autoOpen: false,
		buttons:{
			"Close":function(){
				$(this).dialog("close");
			}
		}
	});

	$("#pay_btc_button").click(function(){
			
		$('#pay_btc').dialog("open");
		return false;
	});
	$('#confirm_payment').click(function(){
				
                $.ajax({
                        url: "{% url 'check' %}",
                        data: {csrfmiddlewaretoken: '{{ csrf_token  }}'},
                        type: 'POST',
                        dataType: 'json',
                        success: function(data){
                                if (data['responsito'] == 'redirect'){
                                	$('a#redir')[0].click();
                                }
                                else{
                                	$('.alert p').html(data['responsito']).parent().addClass('in').fadeTo('slow',1).delay(4000).fadeTo('slow',0);
                    				
                                	
                                }
                        },
                        error: function(data){ 
                                console.log('error '+JSON.stringify(data));
                        }
                });
                return false;
    });
    $('.alert .close').on('click', function(e) {
    	$(this).parent().hide();
	});
{% endblock %}


{% block before-form %}
	
	
{% endblock %}

{% block fields %}
	
		<ul class="nav nav-pills nav-justified">
            <li><a href="{% url 'shop_checkout' %}" name="back"><i class="fa fa-map-marker"></i><br>Address</a>
            </li>
            <li class="active"><a href="#"><i class="fa fa-eye"><i class="fa fa-money"></i></i><br> Review & Payment</a>
            </li>
            
            <li class="disabled"><a href="#"><i class="fa fa-check-square-o"></i><br>Complete</a>
            </li>
        </ul>
        <div class="content">
	        <div class="row">
	            <div class="col-sm-6">
	                <div class="box payment-method">
				    	<h4>{% trans "Billing Details" %}</h4>
				        <ul class="list-unstyled">
					        {% for field, value in form.billing_detail_fields.values %}
					            <li><label>{{ field }}:</label> {{ value }}</li>
					        {% endfor %}
					    </ul>
    
	                </div>
	            </div>
	            <div class="col-sm-6">
	                <div class="box payment-method">

	                    <h4>{% trans "Shipping Details" %}</h4>
					    <ul class="list-unstyled">
					        {% for field, value in form.shipping_detail_fields.values %}
					            <li><label>{{ field }}:</label> {{ value }}</li>
					        {% endfor %}
					        {% for field, value in form.additional_instructions_field.values %}
					            <li><label>{{ field }}:</label> {{ value }}</li>
					        {% endfor %}
					    </ul>
	                </div>
	            </div>
	        </div>
	    </div>
	{% for field in form %}{{ field }}{% endfor %}

{% endblock %}


