{% extends "shop/base.html" %}
{% load staticfiles mezzanine_tags shop_tags rating_tags i18n get_range widget_tweaks pages_tags %}

{% block meta_title %}{{ product.meta_title }}{% endblock %}
{% block body_id %}category{% endblock %}

{% block meta_keywords %}{% metablock %}
{% for keyword in product.keywords.all %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ product.description }}
{% endmetablock %}{% endblock %}

<!--drop down the select menu list on mouseenter using auto_dropdown_select.js-->

{% block slider_js %}

    <script type="text/javascript" src="{% static "js/auto_dropdown_select.js" %}"></script>

    <script type="text/javascript" src="{% static "js/jquery.elevateZoom-3.0.8.min.js" %}"></script>
    <script type="text/javascript">
        function trim1 (str) {
            return str.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
        }
    </script>
{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
<link rel="stylesheet" href="{% static "css/responsiveslides.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "css/elevatezoom.css" %}">

{% endblock %}

{% block extra_js %}

$('#wishlist').click(function(){
    var plain = {};
    var qty = $('input[type="number"]').val();
    $.each($('select'), function(index, value){
        plain[$(value).attr('name')] = $(value).val();
    });
    plain['quantity'] = qty;
    plain['csrfmiddlewaretoken'] = '{{ csrf_token  }}';
    $.ajax({
        url: "{% url 'wish' product.slug %}",
        data: plain,
        type: 'POST',
        success: function(data){  
            console.log(data)         
            if(data.__all__){
                $('#messages').html(data.__all__).fadeTo('slow',1).delay(4000).fadeTo('slow',0);
                return false;
            }
            var message = trim1(data);
            var new_count = message.charAt(9);
            if(new_count == '1'){
                $('#wishlist_menu').html('Wishlist contains ' + new_count + ' item ');
            }else{
                $('#wishlist_menu').html('Wishlist contains ' + new_count + ' items ');
            }
            $('#messages').html(message).fadeTo('slow',1).delay(4000).fadeTo('slow',0);
        }, 
        error: function(data){ 
            console.log('error '+JSON.stringify(data));
            
        }

    });
    return false;
});

var selections = $('select#Colour');
selections.change(function() {
            var variation = $.grep(variations, function(v) {
                var valid = true;
                $.each(selections, function() {
                    valid = valid && v[this.name] == this[this.selectedIndex].value;
                });

                return valid;
            });
            $('img#' + variation[0].image_id).click();
});

$('select').on('mouseenter',function(){
    open($(this));
});
    //initiate the plugin and pass the id of the div containing gallery images
$("#zoom_03").elevateZoom({constrainType:"height", constrainSize:550, zoomType: "inner", containLensZoom: true, gallery:'gal1', cursor: 'pointer', galleryActiveClass: "active"}); 

//pass the images to Fancybox
$("#zoom_03").bind("click", function(e) {  
  var ez =   $('#zoom_03').data('elevateZoom'); 
    $.fancybox(ez.getGalleryList());
  return false;
});

{% endblock %}

{% block extra_head %}
<script>var variations = {{ variations_json|safe }};</script>
<script src="{% static "cartridge/js/product_variations.js" %}"></script>
{% endblock %}

{% block breadcrumb_menu %}

{% endblock %}

{% block main_span_size %}md-9{% endblock %}
{% block panel_span_size %}md-3{% endblock %}

            {% block extra_content %}
                <div class="col-md-12">
                    
                    <div class="box text-center">

                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                {% block title %}
                                    {% editable product.title %}{{ product.title }}{% endeditable %}
                                {% endblock %}
                                
                                {% editable product.content %}
                                    {{ product.short_desc|richtext_filters|safe }}
                                {% endeditable %}
                                
                                <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
{% block main %}
                

<div id="messages" class="alert alert-info modal" style="display:none"></div>
        <div class="row" id="productMain">
                        <div class="col-sm-6">
                            <div id="mainImage">
                                <img id="zoom_03" src="{{ MEDIA_URL }}{% thumbnail images.0.file 370 550 %}" data-zoom-image="{{ MEDIA_URL }}{% thumbnail images.0.file 720 1000 %}" class="img-responsive" />
                            </div>

                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                        </div>
            <div class="col-sm-6">
                <div class="box">
                    {% if product.available and has_available_variations %}
                    {% errors_for add_product_form %}

                        <form method="post" id="add-cart" class="shop-form">
                            {% csrf_token %}
                        
                            <table class="t1">
                                <tr>
                                    <td class="td1">
                                 
                                    {% for field in add_product_form %}
                                        {% if field.is_hidden %}
                                            {{ field }}
                                        {% else  %}
                                            <div class="fields">
                                                {% if field.label %}
                                                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                                                {% endif %}
                                                {% render_field field class="form-control" id=field.label %}
                                                <br/>
                                                {% if field.help_text %}
                                                    <p class="help-block">{{ field.help_text }}</p>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                            
                                    </td>
                                </tr>
                            </table>
                                            <ul id="variations" class="list-unstyled">
                                                {% for variation in variations %}
                                                <li id="variation-{{ variation.sku }}"
                                                    {% if not variation.default %}style="display:none;"{% endif %}>
                                                    {% if variation.has_price %}
                                                        {% if variation.on_sale %}
                                                            <p class="price">{{ variation.unit_price|currency }}</p>
                                                            <span style='color: rgba(50, 200, 41, 1); font-size: 20px; font-weight: bold;'>{% trans "On sale:" %}</span>
                                                        {% endif %}
                                                        <p class="price">{{ variation.price|currency }}</p>
                                                    {% else %}
                                                        {% if has_available_variations %}
                                                        <span class="error-msg">
                                                        {% trans "The selected options are currently unavailable." %}
                                                        </span>
                                                        {% endif %}
                                                    {% endif %}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                       
                                        <p class="text-center">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> {% trans "Add to cart" %}</button>

                                            <button type="submit" name="add_wishlist" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{% trans "Add to wishlist" %}"><i class="fa fa-heart-o"></i>
                                            </button>
                                        </p>

                        </form>
                    {% else %}
                            <p class="error-msg">{% trans "This product is currently unavailable." %}</p>
                    {% endif %}
                </div>

                <div class="row" id="thumbs">
                                
                    {% for image in images %}
                        <div class="col-xs-4">
                            <a href="{{ MEDIA_URL }}{% thumbnail image.file 370 550 %}" data-image="{{ MEDIA_URL }}{% thumbnail image.file 370 550 %}" data-zoom-image="{{ MEDIA_URL }}{% thumbnail image.file 720 1000 %}" class="thumb">
                                <img id="{{ image.id }}" src="{{ MEDIA_URL }}{{ image.file }}" alt="{{ image.description }}" class="img-responsive">
                            </a>
                        </div>
                    {% endfor %}
                                
                </div>
            </div>

        </div>

                    <div class="box" id="details">
                        <p>
                            <h4>Product details</h4>
                            <p>White lace top, woven, has a round neck, short sleeves, has knitted lining attached</p>
                            <h4>Material & care</h4>
                            <ul>
                                <li>Polyester</li>
                                <li>Machine wash</li>
                            </ul>
                            <h4>Size & Fit</h4>
                            <ul>
                                <li>Regular fit</li>
                                <li>The model (height 5'8" and chest 33") is wearing a size S</li>
                            </ul>

                            <blockquote>
                                <p><em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
                                </p>
                            </blockquote>
                    </div>

                    <div class="box social" id="product-social">
                        <h4>Show it to your friends</h4>
                        <p>
                            <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box">
                                <h3>You may also like these products</h3>
                            </div>
                        </div>
                        
                        {% if settings.SHOP_USE_RELATED_PRODUCTS and related_products %}
                        {% for product in related_products %}
                            <div class="col-md-3 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="{{ product.get_absolute_url }}">
                                            <img src="{{ MEDIA_URL }}{% thumbnail product.image 450 450 %}" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3>{{ product }}</h3>
                                        <p class="price">{{ product.price|currency }}</p>

                                    </div>
                                </div>
                                <!-- /.product -->
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>

{% editable product.content %}
{{ product.content|richtext_filters|safe }}
{% endeditable %}



{% if settings.SHOP_USE_RATINGS %}
<div class="panel panel-default rating">
    <div class="panel-body">{% rating_for product %}</div>
</div>
{% endif %}


{% endblock %}
{% block right_panel %}
                        <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Categories</h3>
                        </div>
                        {% page_menu "pages/menus/footer.html" %}
                    </div>
                            
{% endblock %}
