{% extends "shop/base.html" %}
{% load mezzanine_tags shop_tags i18n future staticfiles %}

{% block meta_title %}{% trans "Your Wishlist" %}{% endblock %}
{% block title %}{% trans "Your Wishlist" %} | Cart4Brand{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{% trans "Your Wishlist" %}</li>
{% endblock %}

{% block extra_css %}
    
{% endblock %}

{% block slider_js %}
    <script type="text/javascript">
        function trim1 (str) {
            return str.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
        }
    </script>
{% endblock %}

{% block extra_js %}
    $("a[id|='remove']").click(function(){
        var sku = $(this).data('sku');
        $.post('{% url 'remove_WL_item' %}', {'sku':sku, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(data){
            $('table tr#'+sku).remove();
            var message = trim1(data);
            var new_count = message.charAt(9);
            $('#messages').html(message).delay(4000).fadeTo('slow',0);
            if(new_count == '1'){
                $('#wishlist_menu').html('Wishlist contains ' + new_count + ' item ');
            }else if(new_count == '0'){
                $('div.span8:last').html('<p>{% trans "Your wishlist is empty." %}</p><br><p><a class="btn btn-large btn-primary" href="/">{% trans "Continue Shopping" %}</a></p>');
                $('#wishlist_menu').html('Wishlist contains ' + new_count + ' items ');
            }else{
                $('#wishlist_menu').html('Wishlist contains ' + new_count + ' items ');
            }
            
        })
        return false;
    })
{% endblock %}

{% block extra_content %}
    <div class="box text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>My wishlist</h1>

                <p class="lead">You can add all the items in wishlist into your cart by clicking "Add All to Cart".</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_span_size %}md-9 clearfix{% endblock %}
{% block panel_span_size %}md-3{% endblock %}

{% block main %}

{% if error %}{{ error }}{% endif %}
{% if request.wishlist %}
<form method="post">
{% csrf_token %}
    <div class="row products">
        {% for item in wishlist_items %}
            <div class="col-md-3 col-sm-4">
                <div class="product">
                    <div class="image">
                        <a href="{{ item.get_absolute_url }}">
                            <img src="{{ MEDIA_URL }}{{ item.image.file }}" alt="{{ item }}" class="img-responsive image1">
                        </a>
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3><a href="{{ item.get_absolute_url }}">{{ item }}</a></h3>
                        <p class="price">{{ item.unit_price|currency }}</p>
                        <input type="hidden" name="sku" value="{{ item.sku }}">
                        <input type="hidden" name="quantity" value="1">
                        <p class="buttons">
                            <a href="{{ item.get_absolute_url }}" class="btn btn-default">View detail</a>
                            <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
        {% endfor %}
    </div>
    <div class="col-md-12">
        <input type="submit" class="btn btn-sm btn-primary" name="add_cart" value="{% trans "Add All to Cart" %}">
    </div>
</form>
<hr>
{% else %}
<p>{% trans "Your wishlist is empty." %}</p>
<br>
<p><a class="btn btn-large btn-primary" href="/">{% trans "Continue Shopping" %}</a></p>
{% endif %}
{% endblock %}
{% block right_panel %}
<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Customer section</h3>
    </div>

    <div class="panel-body">

        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="{% url "shop_order_history" %}"><i class="fa fa-list"></i> {% trans "My orders" %}</a>
            </li>
            <li class="active">
                <a href="{% url "shop_wishlist" %}"><i class="fa fa-heart"></i> {% trans "My wishlist" %}</a>
            </li>
            <li>
                <a href="{% url "profile_update" %}"><i class="fa fa-user"></i> {% trans "My account" %}</a>
            </li>
            <li>
                <a href="{% url "logout" %}?next={{ request.path }}"><i class="fa fa-sign-out"></i> {% trans "Logout" %}</a>
            </li>
        </ul>
    </div>

</div>
<div id="messages"></div>
{% endblock %}

{% block logos %}
    <a class="navbar-brand home" href="/">
        <img src="{% static "img/logo_new.png" %}" height="80" alt="Cart4Brand logo">
        <span class="sr-only">Cart4Brand - go to homepage</span>
    </a>     
{% endblock %}

{% block copyright %}
    &copy; 2017. Cart4Brand. The rights of the brand names represented on this website belong to their owner.
{% endblock %}

{% block social %}
    <p class="social">                
        <a rel="tooltip" target="_blank" href="mailto:info@cart4brand.com" title="email us!"><i class="fa fa-envelope"></i></a>
        {% if settings.SOCIAL_LINK_FACEBOOK %}
            <a rel="tooltip" target="_blank" href="{{ settings.SOCIAL_LINK_FACEBOOK }}" title="Facebook"><i class="fa fa-facebook-square"></i></a>
        {% endif %}
    </p>
{% endblock %}
