    {% load mezzanine_tags %}

    {% nevercache %}
    {% spaceless %}
        {% if messages %}
            <div id="{{ request.wishlist|length }}">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} modal fade" id="message-box" data-alert="alert">
                
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <p style="font: 18px/20px Helvetica, Arial, sans-serif;">{{ message }}</p>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
    {% endnevercache %}
    