{% load i18n future mezzanine_tags accounts_tags shop_tags staticfiles%}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"><!-- Collapsable nav bar -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Your site name for the upper left corner of the site -->
      <a class="brand">My Site</a>
 
      <!-- Start of the nav bar content -->
      <div class="nav-collapse"><!-- Other nav bar content -->
        ...
        ...
 
        <!-- The drop down menu -->
        <ul class="nav pull-right">
          {% if settings.SHOP_USE_WISHLIST %}
          <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  <span><img src="{% static "img/wishlist.svg" %}" width="20"></span>
                      {% blocktrans count request.wishlist|length as wishlist_count %}Wishlist contains 1 item{% plural %} Wishlist contains {{ wishlist_count }} items{% endblocktrans %}<strong class="caret"></strong>
                </a>
                <ul class="dropdown-menu">
                  <li>
                      <a href="{% url "shop_wishlist" %}" class="button bluebut">
                        {% trans "Go To Wishlist" %}
                      </a>
                  </li>                             
                </ul>
          </li>
          {% endif %}
          <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  <span><img src="{% static "img/cart.png" %}" width="20"></span><span id='cart_menu'>
                      {% blocktrans count request.cart.total_quantity as cart_quantity %}1 item{% plural %}{{ cart_quantity }} items{% endblocktrans %}
                      {% trans "in cart" %}:
                      {{ request.cart.total_price|currency }}</span><strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li>
                    {% if request.cart.total_quantity != 0 %}
                      <a href="{% url "shop_checkout" %}" class="button bluebut">
                        {% if request.session.order.step %}{% trans "Return to Checkout" %}{% else %}{% trans "Go to Checkout" %}
                        {% endif %}
                      </a>
                    {% endif %}
                  </li>
                  <li>
                    <a href="{% url "shop_cart" %}" class="button tealbutton">
                      {% trans "Go To Cart" %}
                    </a>                    
                  </li>                                 
                </ul>
          </li>
          {% if request.user.is_authenticated %}
          {% url "profile" request.user.username as profile_url %}
            <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">{% trans "Hello " %}<b>{{ request.user.username }}</b><strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li>
                    {% if profile_url %}
                        <a href="{{ profile_url }}">{{ request.user|username_or:"email" }}</a>
                        <a href="{% url "profile_update" %}" class="btn btn-default btn-sm btn-account">{% trans "Update profile" %}</a>
                    {% else %}
                        <a href="{% url "profile_update" %}" class="button bluebut">{% trans "Update Profile" %}</a>
                        
                    {% endif %}
                  </li>
                  <li>
                    <a href="{% url "logout" %}?next={{ request.path }}" class="button redbutton">
                    <span class="glyphicon glyphicon-log-out"></span> {% trans "Log out" %}</a>
                  </li>
                </ul>
              </li>  
          {% else %}
            <li class="divider-vertical"></li>
            <li><a href="{% url "signup" %}?next={{ request.path }}">{% trans "Sign up" %}</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">{% trans "Log in" %}<strong class="caret"></strong></a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                  <!-- Login form here -->
                  {% login_form as form%}
                  <form action="{% url "login" %}?next={{ request.path }}" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
                  </form>
                </div>
            </li>
          {% endif %}      
        </ul>
      </div>
    </div>
  </div>
</div>
