{% load mezzanine_tags i18n future %}

<form action="{% url "search" %}" class="navbar-form" role="search">
	<div class="input-group">
		<input class="form-control" placeholder="{% trans "Search" %}" type="text" name="q" value="{{ request.REQUEST.q }}">
        <span class="input-group-btn">
			<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
		</span>
    </div>
    
    
{% if search_model_choices %}
    {% if search_model_choices|length == 1 %}
    <input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">
    {% endif %}
{% endif %}
</form>
