{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block extra_css %} 
<style type="text/css">
	.para{
		text-align: justify;
		font: 1.5em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	}
</style>
{% endblock %}

{% block extra_content %}
	<div class="box text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>About Us</h1>

                <p>This page's aim is to show you the most common HTML elements appearance on the website. For further reference please visit official <a href="http://getbootstrap.com/css/" class="external">Bootstrap website</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}

{{ block.super }}
{% editable page.richtextpage.content %}
    {{ page.richtextpage.content|richtext_filters|safe }}
{% endeditable %}

{% endblock %}

{% block right_panel %}
  
{% endblock %}
