{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block extra_css %} 
<style type="text/css">
	.para{
		text-align: justify;
		font: 1.5em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	}
</style>
{% endblock %}

{% block main %}

{{ block.super }}
<p class="para">

We are an international team of young professionals. By making this website we aimed at providing our users with a convenient and enjoyable platform for shopping. Buy a product and get free regular shipping, no matter where you are (it takes up to 25 days depending on your location). Pay for shipping only if you need it FAST (3 ~ 7 days). Our priority shipping carrieres include Fedex, DHL, UPS. Tracking numbers are updated immediately after the product is shipped. Lead time is 2 days.
</p>
<p class="para">
<b>''You Name It''</b> gives you an exceptional chance to suggest any item you can not find in our website and we'll add similar items for you to choose from. Thus, we are commited to regularly updating our ever growing list of products with items that matter for our users. You have plenty of options for contacting us: blue "contact us" ribbon for chat, <a href="/contact" style="color: blue">Contact us</a> web form, email or social buttons on our website's footer. Costumer satisfaction is our utmost priority, feel free to contact us with any question you will come up with. Our specialist will be glad to assist you in making the transaction process smoother. For payment we support Paypal and Bitcoin with credit cards coming soon. If you are not satisfied with your purchase then pay only the return shipping fee and get a full refund when we receive the package. But we firmly believe you would hardly want to do so.
<br/><br/><i>Happy Shopping!</i>
</p>
{% endblock %}

{% block right_panel %}
  
{% endblock %}
