{% extends "pages/page.html" %}

{% load staticfiles mezzanine_tags shop_tags i18n %}
{% block body_id %}category{% endblock %}

{% block extra_css %}
{{ block.super }}
<!-- make the corners of select tag for sorting round and move it 
upper to allign with its left div. cart/checkout block also moves up (panel class)-->
<link rel="stylesheet" type="text/css" href="{% static "css/shop_category_fields.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "css/shuffle-styles.css" %}">


{% endblock %}
{% block slider_js %}

<script type="text/javascript" src="{% static "js/auto_dropdown_select.js" %}"></script>

{% endblock %}
{% block extra_js %}
	var $cont = $('#grid');
		
	$cont.shuffle({
		itemSelector: '.picture-item',
		
		delimeter: ', '

	});

	$('#option a').click(function(e){
		e.preventDefault();
		var group = $(this).data('group');
		$cont.shuffle('shuffle',group);
	});
	$('#option').each( function( i, buttonGroup ) {
	    var $buttonGroup = $( buttonGroup );
	    $buttonGroup.on( 'click', 'a', function() {
	      $buttonGroup.find('.selected').removeClass('selected');
	      $( this ).addClass('selected');
	    });
	});
	$('.sort-options').on('change', function() {
	  var sort = this.value,
	      opts = {};

	  // We're given the element wrapped in jQuery
	  if ( sort === 'item-price-rev' ) {
	    opts = {
	      reverse: true,
	      by: function($el) {
	        return $el.data('item-price');
	      }
	    };
	  } else if ( sort === 'item-price' ) {
	    opts = {
	      by: function($el) {
	        return $el.data('item-price');
	      }
	    };
	  }

	  // Filter elements
	  $cont.shuffle('sort', opts);
	});
    $('.form-control').mouseenter(function() {
        open($(this));
    });

{% endblock %}
{% block main_span_size %}12{% endblock %}
{% block main %}{{ block.super }}
	
	{% if slider_images %}
        <!--slider-->
        <div id="main_slider">
            <div class="camera_wrap" id="camera_wrap_1">
		{% for slide in slider_images %}
                <div data-src="{{ MEDIA_URL }}{% thumbnail slide.image 1920 690 %}"></div>                 
		{% endfor %}
            </div><!-- #camera_wrap_1 -->
            <div class="clear"></div>	
        </div>        
        <!--//slider-->
    {% endif %}

 	{% editable page.category.content %}
	{{ page.category.content|safe }}
	{% endeditable %}

			{% if child_categories %}
				<div id="option" class="button-group" style="display: inline-block">
					{% if settings.SHOP_CATEGORY_USE_FEATURED_IMAGE %}
			     		
							<a href="" data-group="all" class="btn btn-custom selected">All</a>
			    			{% for category in child_categories %}
			   		   			<a href="" data-group="{{category.title}}" class="btn btn-custom">{{ category.title }}</a>
							{% endfor %}							
			    		
					{% else %}
			    		{% for category in child_categories %}
			    			<div class="col-xs-6 col-sm-4 col-lg-3">
			    				<a href="{{ category.get_absolute_url }}" class="thumbnail">
			        				<div class="caption"><h4>{{ category.title }}</h4></div>
			    				</a>
			    			</div>
			    		{% endfor %}
					{% endif %}
				</div>
			{% endif %}
				
			<div style="display: inline-block; margin: 0px 0px 20px 20px">
				<label for="sorting-select">{% trans "Sort by" %}</label>
				<select class="sort-options form-control" id="sorting-select" style="width:200px">
				  <option value="">Recently Added</option>
				  <option value="item-price">Least Expensive</option>
				  <option value="item-price-rev">Most Expensive</option>
				</select>
			</div>

	<div id="grid" class="row shuffle--container shuffle--fluid">	
		{% for product, categories in prodcats.items %}
		  <figure class="span3 picture-item" data-groups='{{ categories|join:", " }}' data-item-price='{% if product.on_sale %}{{ product.unit_price }}{% else %}{{ product.price }}{% endif %}' style="padding: 0px 20px 20px 0px">
		  	{% if product.image %}
			  	<div class="picture-item__inner">
			  		<a href="{{ product.get_absolute_url }}">
				    	<img src="{{ MEDIA_URL }}{% thumbnail product.image 200 258 %}"/>
				    </a>
				    	<div class="picture-item__details">
				      		<figcaption id="figcap" class="picture-item__title">
				      			{% if product.on_sale %}
								    <span class="old-price">Old price: {{ product.unit_price|currency }}</span>
								    {% trans "On sale: " %}{{ product.price|currency }}
								{% else %}
									<span>Price: {{ product.price|currency }}</span>
								{% endif %} 
								<p>{{ product }}</p>
							</figcaption>
				    	</div>
				    
				</div>
			{% else %}
				<div class="placeholder">No Image Yet</div>
			{% endif %}
		  </figure>
		{% endfor %}
		
	</div>


	
{% endblock %}
{% block right_panel_wrapper %}
	
{% endblock %}