{% extends "pages/page.html" %}

{% load staticfiles mezzanine_tags shop_tags i18n debug_tags %}
{% block body_id %}category{% endblock %}

{% block extra_css %}
{{ block.super }}
<!-- make the corners of select tag for sorting round and move it 
upper to allign with its left div. cart/checkout block also moves up (panel class)-->
<link rel="stylesheet" type="text/css" href="{% static "css/shop_category_fields.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.capty.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.isotope.css" %}">
{% endblock %}
{% block slider_js %}
<script type="text/javascript" src="{% static "js/jquery.capty.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/auto_dropdown_select.js" %}"></script>
{% endblock %}
{% block extra_js %}
	var $cont = $('#cont'),
		$sizer = $cont.find('img');
	$cont.shuffle({
		itemSelector: '.pic-item',
		sizer: $sizer,
		delimeter: ', '
	});

	$('#option a').click(function(e){
		e.preventDefault();
		var group = $(this).data('group');
		$cont.shuffle('shuffle',group);
	});
	$('#option').each( function( i, buttonGroup ) {
	    var $buttonGroup = $( buttonGroup );
	    $buttonGroup.on( 'click', 'a', function() {
	      $buttonGroup.find('.selected').removeClass('selected');
	      $( this ).addClass('selected');
	    });
	});
	$('.hover_caption').capty({height: 56});
    $('.form-control').mouseenter(function() {
        open($(this));
    });

{% endblock %}
{% block main_span_size %}12{% endblock %}
{% block main %}{{ block.super }}
	
	{% if slider_images %}
        <!--slider-->
        <div id="main_slider">
            <div class="camera_wrap" id="camera_wrap_1">
		{% for slide in slider_images %}
                <div data-src="{{ MEDIA_URL }}{% thumbnail slide.image 1920 690 %}"></div>                 
		{% endfor %}
            </div><!-- #camera_wrap_1 -->
            <div class="clear"></div>	
        </div>        
        <!--//slider-->
    {% endif %}

 	{% editable page.category.content %}
	{{ page.category.content|safe }}
	{% endeditable %}

			{% if child_categories %}
				<div id="option" class="button-group" style="display: inline-block">
					{% if settings.SHOP_CATEGORY_USE_FEATURED_IMAGE %}
			     		
							<a href="" data-group="all" class="btn dark_btn selected">All</a>
			    			{% for category in child_categories %}
			   		   			<a href="" data-group="{{category.title}}" class="btn dark_btn">{{ category.title }}</a>
							{% endfor %}							
			    		
					{% else %}
			    		{% for category in child_categories %}
			    			<div class="col-xs-6 col-sm-4 col-lg-3">
			    				<a href="{{ category.get_absolute_url }}" class="thumbnail">
			        				<div class="caption"><h4>{{ category.title }}</h4></div>
			    				</a>
			    			</div>
			    		{% endfor %}
					{% endif %}
				</div>
			{% endif %}
				
				<form class="product-sorting" role="form" style="display: inline-block">
    				<div class="form-group">
    					<label class="control-label" for="sorting-select">{% trans "Sort by" %}</label>
        				<select style="max-width:60%"onchange="location.href = this[this.selectedIndex].value;" onmouseover="autofocus" class="form-control" id="sorting-select">
        					{% for name, option in settings.SHOP_PRODUCT_SORT_OPTIONS %}
        						{% if "rating" not in option or settings.SHOP_USE_RATINGS %}
        							<option{% if option == products.sort_by %} selected{% endif %}
            							value="{{ category.get_absolute_url }}?sort={{ option }}{{ querystring }}">
            							{{ name }}
        							</option>
        						{% endif %}
        					{% endfor %}
        				</select>
    				</div>
				</form>
				
				<div class="row">
							<div id="cont">
								{% for product, categories in prodcats.items %}							    
						   		<div class="span3 pic-item" data-groups='{{ categories|join:", " }}'>
						        {% if product.image %}
						        	<a href="{{ product.get_absolute_url }}"><img class="hover_caption" src="{{ MEDIA_URL }}{% thumbnail product.image 148 148 %}" alt='{{ product }} {% if product.on_sale %}
						            			<span class="old-price">{{ product.unit_price|currency }}</span>
						            			{% trans "On sale:" %}
						            		{% endif %} <span>{{ product.price|currency }}</span>' /></a>
						        {% else %}
						        	<div class="placeholder"></div>
						        {% endif %}
						        </div>
						        {% endfor %}
						    </div>   
						
						    
						
					
				</div>

	
{% endblock %}
{% block right_panel_wrapper %}
	
{% endblock %}