{% extends "pages/page.html" %}

{% load staticfiles mezzanine_tags shop_tags i18n %}
{% block body_id %}category{% endblock %}

{% block extra_css %}
{{ block.super }}
<!-- make the corners of select tag for sorting round and move it 
upper to allign with its left div. cart/checkout block also moves up (panel class)-->
<link rel="stylesheet" type="text/css" href="{% static "css/shop_category_fields.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "css/shuffle-styles.css" %}">

{% endblock %}
{% block slider_js %}

<script type="text/javascript" src="{% static "js/auto_dropdown_select.js" %}"></script>

{% endblock %}
{% block extra_js %}


	$('.collapse').on('show.bs.collapse', function () {
       $(this).parent().find('.toggle').addClass("expanded");
    });

    $('.collapse').on('hide.bs.collapse', function () {
       $(this).parent().find('.toggle').removeClass("expanded");
    });
	

	var $cont = $('#grid');
		
	$cont.shuffle({
		itemSelector: '.picture-item',
		
		delimeter: ', '

	});
	
	$cont.on('shrink.shuffle', function( evt, $collection, shuffle ) {
  		var group = $collection['group'];
  		var ids = $('.filtered figcaption > p').map(function(){return parseInt($(this).attr('id'),10);}).get(),
  			frag = document.createDocumentFragment(),
  			self = this,
  			items = [],
  			$items,
  			vis_items,
  			figure;
  		if (ids.indexOf(77) >= 0){
  			return;
  		}
  		console.log(ids);
  		$.ajax({type: 'POST', url:'getproduct', data: {'cat': group, 'csrfmiddlewaretoken': '{{ csrf_token  }}'}, success: function(data){
  			var post_ids = data.prods[0];
  			var comp = post_ids.filter(function(e){return ids.indexOf(e) < 0});
  			console.log(post_ids);
  			console.log(comp);
  			for(i in comp){
  				var ind = post_ids.indexOf(comp[i]);
  				if(data.prods.length == 5){
  					var url = data.prods[4][ind],
  						price =  data.prods[3][ind],
  						unit_price = '';
  				} else {
  					var url = data.prods[5][ind]; 
  						unit_price =  data.prods[3][ind],
  						price = data.prods[4][ind];
  				}
  				var image = data.prods[2][ind], 
  				html = '<div class="picture-item__inner"  style="height:400px"><a href='+url+'><img src="{{ MEDIA_URL }}' + image + '"/></a><div class="picture-item__details"><figcaption id="figcap" class="picture-item__title">{% if product.on_sale %}<span class="old-price">Old price: $'+ unit_price +'</span>On sale: $' + unit_price + '{% else %}<span>Price: $' + price + '</span>{% endif %}<p id="77">'+ data.prods[1][ind] +'</p></figcaption></div></div>';
  				figure = document.createElement('figure');
  				figure.className = figure.className + 'span3 picture-item';
  				figure.setAttribute('data-item-price', data.prods[3][ind]);
  				figure.setAttribute('data-groups', group);
  				$(figure).html(html);
  				if(!(figure in items)){
  					items.push(figure);
  					console.log(items);
  				}
  				frag.appendChild(figure);
  				
  			}
  			document.getElementById("grid").appendChild(frag);
  			$items = $(items);
  			$collection.$el.data('shuffle').appended( $items );
  		}, error: function(data){console.log(JSON.stringify(data));}});
  		
	});

	$('#option > ul > li > a').click(function(e){
		e.preventDefault();
		var group = $(this).data('group');
		$cont.shuffle('shuffle',group);
	});
	$('#option').each( function( i, buttonGroup ) {
	    var $buttonGroup = $( buttonGroup );
	    $buttonGroup.on( 'click', 'a', function() {
	      $buttonGroup.find('.selected').removeClass('selected');
	      $( this ).addClass('selected');
	    });
	});
	$('.sort-options').on('change', function() {
	  var sort = this.value,
	      opts = {};

	  // We're given the element wrapped in jQuery
	  if ( sort === 'item-price-rev' ) {
	    opts = {
	      reverse: true,
	      by: function($el) {
	        return $el.data('item-price');
	      }
	    };
	  } else if ( sort === 'item-price' ) {
	    opts = {
	      by: function($el) {
	        return $el.data('item-price');
	      }
	    };
	  }

	  // Filter elements
	  $cont.shuffle('sort', opts);
	});
    $('.form-control').mouseenter(function() {
        open($(this));
    });

{% endblock %}
{% block main_span_size %}12{% endblock %}
{% block main %}{{ block.super }}
	
	{% if slider_images %}
        <!--slider-->
        <div id="main_slider">
            <div class="camera_wrap" id="camera_wrap_1">
		{% for slide in slider_images %}
                <div data-src="{{ MEDIA_URL }}{% thumbnail slide.image 1920 690 %}"></div>                 
		{% endfor %}
            </div><!-- #camera_wrap_1 -->
            <div class="clear"></div>	
        </div>        
        <!--//slider-->
    {% endif %}

 	{% editable page.category.content %}
	{{ page.category.content|safe }}
	{% endeditable %}

			
				
			<div style="display: inline-block; margin: 0px 0px 20px 20px">
				<label for="sorting-select">{% trans "Sort by" %}</label>
				<select class="sort-options form-control" id="sorting-select" style="width:200px">
				  <option value="">Recently Added</option>
				  <option value="item-price">Least Expensive</option>
				  <option value="item-price-rev">Most Expensive</option>
				</select>
			</div>
  <div class="row">
    <div class="span3">
		<div class="left-sidebar">

					<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
						    <div class="panel panel-default">
			    				<div class="panel-heading">
									<h4 class="panel-title">
										<div id="option" class="panel-body">
										<ul><li>
						  				<a href="" data-group="all">All</a>
						  				</li></ul>
						  				</div>
						  			</h4>
						  		</div>
						  	</div>
						  {% for category, subcat in catsubcat.items %}
			    			<div class="panel panel-default">
			    				<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#{{ category.title|slugify }}">
											{% if subcat %}
											<div class="toggle pull-right"></div>
											{% endif %}
											{{ category.title }}
										</a>
									</h4>
								</div>
								{% if subcat %}
								<div id="{{ category.title|slugify }}" class="panel-collapse collapse">
									<div id="option" class="panel-body">
										
										<ul>
											{% for cat in subcat %}
											<li>
												<a href="" data-group="{{cat.title}}">
													{{ cat.title }}
												</a>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
								{% endif %}
							</div>
			    	  	  {% endfor %}
							
						</div><!--/category-products-->	
    	</div>
    </div>
    <div class="span9">
		<div id="grid" class="row shuffle--container shuffle--fluid">	
			{% for product, categories in prodcats.items %}
			  <figure class="span3 picture-item" data-groups='{{ categories|join:", " }}' data-item-price='{% if product.on_sale %}{{ product.unit_price }}{% else %}{{ product.price }}{% endif %}' style="padding: 0px 20px 20px 0px">
			  	{% if product.image %}
				  	<div class="picture-item__inner"  style="height:400px">
				  		<a href="{{ product.get_absolute_url }}">
					    	<img src="{{ MEDIA_URL }}{% thumbnail product.image 460 500 %}"/>
					    </a>
					    	<div class="picture-item__details">
					      		<figcaption id="figcap" class="picture-item__title">
					      			{% if product.on_sale %}
									    <span class="old-price">Old price: {{ product.unit_price|currency }}</span>
									    {% trans "On sale: " %}{{ product.price|currency }}
									{% else %}
										<span>Price: {{ product.price|currency }}</span>
									{% endif %} 
									<p id="{{ product.id }}">{{ product }}</p>
								</figcaption>
					    	</div>
					    
					</div>
				{% else %}
					<div class="placeholder">No Image Yet</div>
				{% endif %}
			  </figure>
			{% endfor %}
			
		</div>
	</div>
	<div class="span6">
		{% pagination_for products %}
	</div>
{% endblock %}
{% block right_panel_wrapper %}
	
{% endblock %}
