{% extends "pages/page.html" %}

{% load staticfiles mezzanine_tags shop_tags blog_tags i18n %}
{% block body_id %}category{% endblock %}


{% block extra_css %}
{{ block.super }}
<!-- make the corners of select tag for sorting round and move it 
upper to allign with its left div. cart/checkout block also moves up (panel class)-->

{% endblock %}
{% block slider_js %}


{% endblock %}

{% block extra_js %}
{% endblock %}

{% block main_span_size %}12{% endblock %}
{% block main %}{{ block.super }}
    
    {% if slider_images %}
        <!-- *** SLIDER ***
    ___________________ -->

    <div id="intro">
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="carousel-caption">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#slider -->

    <!-- *** SLIDER END *** -->
    {% endif %}
        <div id="advantages">

            <div class="container">

                <div class="col-md-12">

                    <div class="box text-center">
                        <h3 class="text-uppercase">About <i>CPU Panda</i></h3>

                        <p> CPUPanda is a worldwide marketplace for AMD CPUs with <strong>free shipping</strong>. Have your order delivered fast or have it delivered free.</p>



                        <div class="same-height-row row">
                            <div class="col-sm-4">
                                <div class="box same-height no-border text-center-xs text-center-sm">
                                    <div class="icon"><i class="fa fa-heart-o"></i>
                                    </div>
                                    <h4>{% trans "Satisfied customers" %}</h4>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="box same-height no-border text-center-xs text-center-sm">
                                    <div class="icon"><i class="fa fa-tags"></i>
                                    </div>
                                    <h4>{% trans "Best prices" %}</h4>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="box same-height no-border text-center-xs text-center-sm">
                                    <div class="icon"><i class="fa fa-refresh"></i>
                                    </div>
                                    <h4>{% trans "Free returns for 1 month" %}</h4>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                    </div>

                </div>


            </div>
            <!-- /.container -->

        </div>
        <!-- /#advantages -->

        <!-- *** ADVANTAGES END *** -->

                    <div class="box text-center">
                        <h3 class="text-uppercase">Recently Added products</h3>

                        <h4 class="text-muted"><span class="accent">Free shipping</span> on all</h4>
                    </div>

                    <div id="grid" class="row shuffle--container shuffle--fluid">   
                        {% for product in products %}
                            <div class="col-md-3 col-sm-4" data-groups='{{ product.categories.all|join:", " }}'>
                                <div class="product">
                                    <div class="image">
                                        <a href="{{ product.get_absolute_url }}">
                                            <img src="{{ MEDIA_URL }}{% thumbnail product.image 450 450 %}" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <!-- /.image -->
                                    <div class="text">
                                        <h3><a href="{{ product.get_absolute_url }}">{{ product }}</a></h3>
                                        <p class="price">{{ product.price|currency }}</p>

                                    </div>
                                    <!-- /.text -->

                                    <p class="buttons">
                                        <a href="{{ product.get_absolute_url }}" class="btn btn-default">View detail</a>
                                        <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                                <!-- /.product -->
                            </div>
                        {% endfor %}                            
                    </div>
                    <div class="span6">
                        {% pagination_for products %}
                    </div>

                                <!-- *** PROMO BAR ***
_________________________________________________________ -->

            <div class="bar background-image-fixed-2 no-mb color-white text-center">
                <div class="dark-mask"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="icon icon-lg"><i class="fa fa-shopping-cart"></i>
                            </div>
                            <h1>Did you know our website is responsive?</h1>
                            <p class="lead">You can shop on CPU Panda on your mobile and tablet devices!</p>
                            
                        </div>

                    </div>
                </div>
            </div>

            <!-- *** PROMO BAR END *** -->


            <div class="container">
                <div class="col-sm-12">
                    <!-- *** BLOG HOMEPAGE *** -->

                    <div class="box text-center">
                        <h3 class="text-uppercase">From our blog</h3>

                        <p class="text-italic text-large">What's new in the world of CPUs? <span class="accent"><a href="{% url 'blog_post_list' %}">Check our blog!</a></span>
                        </p>
                    </div>

                    <div id="blog-homepage" class="row">
                      {% blog_recent_posts 2 as recent_posts %}
                      {% for post in recent_posts %}
                        <div class="col-sm-6">
                            <div class="post">
                                <h4><a href="{{ post.get_absolute_url }}">{{ blog.title }}</a></h4>
                                {% with post.user as author %}
                                  <p class="author-category">By <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a> in 
                                  {% with blog_post.categories.all as categories %}
                                      {% if categories %}
                                          {% for category in categories %}
                                              <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>
                                              {% if not forloop.last %}, {% endif %}
                                          {% endfor %}
                                      {% endif %}
                                  {% endwith %}
                                  </p>
                                {% endwith %}
                                <hr>
                                <p class="intro">{{ post.description_from_content|safe|truncatewords_html:48 }}</p>
                                <p class="read-more"><a href="{{ post.get_absolute_url }}" class="btn btn-primary">Continue reading</a>
                                </p>
                            </div>

                        </div>
                      {% endfor %}
                    </div>
                    <!-- /#blog-homepage -->

                    <!-- *** BLOG HOMEPAGE END *** -->

                </div>
            </div>
           
    
    
{% endblock %}
{% block right_panel_wrapper %}
    
{% endblock %}
