{% load shop_tags i18n %}

<div class="table-responsive">
    <table class="table">
        <tbody>
            {% if discount_total or shipping_total %}
                <tr>
                    <td>{% trans "Sub total" %}:</td>
                    <th>{{ item_total|currency }}</th>
                </tr>
            {% endif %}
            {% if discount_total %}
                <tr>
                    <td>
                        {% if discount_type %}
                        {{ discount_type }}:
                        {% else %}
                        {% trans "Discount" %}:
                        {% endif %}
                    </td>
                    <th>{{ discount_total|currency }}</th>
                </tr>
            {% else %}
                <tr>
                    <td>
                        {% trans "Discount" %}:
                    </td>
                    <th>$0.0</th>
                </tr>
            {% endif %}
            {% if shipping_type or shipping_total %}
            <tr>
                <td>
                    {% if shipping_type %}
                        {{ shipping_type }}:
                    {% else %}
                        {% trans "Shipping" %}:
                    {% endif %}
                </td>
                <th>{{ shipping_total|currency }}</th>
            </tr>
            {% endif %}
            {% if tax_total %}
            <tr>
                <td>{% trans "Tax" %}:</td>
                <th>{{ tax_total|currency }}</th>
            </tr>
            {% endif %}
            <tr class="total">
                <td>{% trans "Total" %}:</td>
                <th>{{ order_total|currency }}</th>
            </tr>
        </tbody>
    </table>
</div>
