{% extends 'base.html' %}
{% load staticfiles %}
{% block social %}
    <p class="social">                       
        <a rel="tooltip" target="_blank" href="mailto:info@games4parties.com" title="email us!"><i class="fa fa-envelope"></i></a>
    </p>
{% endblock %}

{% block logos %}
    <a class="navbar-brand home" href="/">
        <img src="{% static "img/logo.jpg" %}" height="80" alt="Minimal logo" class="hidden-xs hidden-sm">
        <img src="{% static "img/g4p.jpg" %}" height="52" alt="Minimal logo" class="visible-xs visible-sm"><span class="sr-only">Games4Parties - go to homepage</span>
    </a>    
{% endblock %}

{% block copyright %}
    &copy; 2016. Games4Parties, all rights reserved.
{% endblock %}
